/* colors for website */
/* Grön:      #489078
Mörkgrå: #353131
Ljusgrå: #605858
Vit:      #605858
Röd:     #EB5757
Font: Frutiger Next Bold */

/* delete later */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font)
}

html, body {
    width: 100%;
    height: 100%;
    overflow: auto;
}
.remove-display {
    display: none;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.delete-me {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 370px;
    height: auto;
    z-index: 10;
    opacity: 0.5;
    
}  */
/* delete later */